#default_theme {
    --popup-main-text-color: var(--gray1);
    --popup-accent-color: var(--gray3);
    --popup-separator-color: var(--gray5);
    --popup-background-color: var(--gray6);
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    min-width: 450px;
    max-width: 500px;
    color: var(--popup-main-text-color);
    background-color: var(--popup-background-color);
    border: 5px solid;
    padding: 10px;
    text-align: center;
}
  
h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 15px;
    text-align: center;
}

h3 {
    font-size: 12px;
    text-align: center;
}